@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .contentSection span,
  .ourServices span {
    display: block;
  }

  .btn {
    background-color: #ea3a60;
    padding: 0.75rem 1.875rem;
    border: 1.5px solid transparent;
    border-radius: 3.125rem;
    text-transform: capitalize;
    transition: all 0.5s linear;
  }
  .btn-started {
    background-color: transparent;
    border: 1.5px solid #ea3a60;
    color: #ea3a60;
  }
  .btn-started:hover {
    background-color: #ea3a60 !important;
    color: #fff !important;
  }
  .btn:hover {
    border: 1.5px solid #ea3a60;
    background-color: transparent;
    color: #ea3a60;
  }
  .top-middle {
    top: 20%;
  }
  .top-middle-xl {
    top: 47%;
  }
  .features-items {
    padding: 0 2rem;
  }
  .features-items .item-img {
    width: 5rem;
    height: 5rem;
  }
  .ourServices .item-img {
    width: 11rem;
    height: 11rem;
  }
  .services-patterns {
    z-index: -1;
    top: 182px;
    left: -120px;
    width: 65%;
  }
  .rightCore > .coreImg {
    max-width: 620.57px;
  }
  .rightCore .patternLeft {
    position: absolute;
    z-index: -1;
    top: 35%;
    right: -45%;
    width: 80%;
  }
  .btn-pricing {
    transition: all 0.3s linear;
  }
  .active {
    color: #0f2137;
    background-color: #ffffff !important;
    box-shadow: 0 3px 4px rgb(38 78 118 / 10%);
  }
  .pricing-item {
    transition: all 0.3s linear;
  }
  .pricing-item::before {
    position: absolute;
    content: "";
    width: 100%;
    top: 0px;
    left: 0px;
    height: 100%;
    border: 1px solid rgba(38, 78, 118, 0.1);
    border-radius: 1.25rem;
    transition: all 0.3s ease 0s;
    z-index: -1;
  }
  .pricing-item:hover {
    box-shadow: rgb(38 78 118 / 10%) 0px 4px 25px !important;
    border-radius: 1.25rem;
  }
  .pricing-item:hover::before {
    opacity: 0;
  }
  .social-icons {
    opacity: 0;
    transition: all 0.25s;
  }
  .icon {
    transition: all 0.25s;
  }
  .team-card:hover .social-icons {
    opacity: 1;
  }
  .team-card:hover .icon {
    padding: 5px 0;
  }
  .team-card:hover .icon:hover {
    color: #000;
    font-size: 17px;
  }
  .people-info {
    transition: all 0.25s linear;
  }
  .team-card:hover .people-info {
    color: #ea3a60;
  }
  .team-card:hover {
    box-shadow: 0 4px 10px rgb(39 83 123 / 12%);
  }
}
